// *****************************************************************************
//                            theme colors class CSS rules
// *****************************************************************************

.theme__colors {
  border-radius: 5px;
  padding: 10px;
}

// *****************************************************************************
//                            default button class CSS rules
// *****************************************************************************

.btn--default {
  @extend %btn;
  background-color: $link-color;
}

// *****************************************************************************
//                         button section CSS rules:
//                       class starting with btn loop
// *****************************************************************************

@each $button-key, $button-color in $button-colors {
  .btn--#{$button-key} {
    @extend %btn;
    background-color: #{$button-color};
  }
}

// *****************************************************************************
//                          grid system section CSS rules:
//                  color themes class & class starting with grid
// *****************************************************************************

@each $col-key, $col-color in $grid-colors {
  .theme__colors.grid__#{$col-key} {
    width: 100%;
    margin-top: 5px;
    background-color: #{$col-color};
    text-align: left;
  }
}
